@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  background: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
}

.stickys {
  z-index: 555;
  background-color: transparent;
  overflow: hidden;
}

.button-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: transparent;

}

nav button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav ul,


ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  left: 100px;
  right: 0;
  width: 230px;

}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.scrollText {
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  height: 50vh;
  width: 100vw;
  padding: 10;
}

.parallax {
  margin-right: 15%;
}

.bannerBackground {
  margin-left: 15%;
  background-color: #ff6d6d;
  font-size: 1.25rem;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.purple {
  background-color: #9d65d0;
}

#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: white;
  opacity: 0.3;
}

#progress .indicator {
  stroke: white;
}

.testimonials {
  display: flex;
  list-style: none;
  height: 50%;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 70%;
  margin: 0 auto;
}

.testimonials li {
  flex: 0 0 300px;
  background: white;
  margin: 0 20px 0 0;
}

.testimonilas li:last-of-type {
  margin: 0;
}

.parallax-effect {
  @include background;
  transform-style: preserve-3d;
}

.inner-element {
  color: white;
  transform: translateZ(60px);
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}